<!DOCTYPE html>
<html>
    <head>
        <title>
            Da Viz - Dashboard List
        </title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    </head>
    <body>
        <div class="container">            
            <div class="table-container">
                <h1 class="heading">Dashboard List</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Dashboard Name</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            <td data-label="result-id">{{ result[0] }}</td>
                            <td data-label="result-name">{{ result[1] }}</td>
                            <td data-label="#"><a href="{{url_for('embeddashboard', project_id = project_id, dashboard_id = result[0])}}" class="btn">Open Dashboard</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>